<%= form_for(@make) do |f| %>
  <% if @make.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@make.errors.count, "error") %> prohibited this make from being saved:</h2>

      <ul>
      <% @make.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
    <%= f.label :property %><br>
     <div class="field">
    <%= f.text_field :property %>
  </div>

    <%= f.label :state %><br>
      <div class="field">
    <%= f.text_field :state %>
  </div>

    <%= f.label :gear_id %><br>
      <div class="field">
    <%= f.number_field :gear_id %>
  </div>

    <%= f.label :update_date %><br>
      <div class="field">
    <%= f.datetime_select :update_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
