<p id="notice"><%= notice %></p>

<h1>Current state</h1>

<table class="table table-bordered">
  <thead>
    <tr>

      <th>Property</th>
      <th>State</th>
      
      <th>Update date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>

    <% @makes.each do |make| %>
    <% if make.gear_id.to_s == request.original_url[43]  %>
      <tr>
        <td><%= make.property %></td>
        <td><%= make.state %></td>
        <td><%= make.update_date %></td>
        <td><%= link_to 'Show', make , :class => v %>
        <%= link_to 'Edit', edit_make_path(make) , :class => "btn btn-warning"%></td>
     
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'new', new_make_path %>
<br>
<%= link_to 'Create connection', grep_path , :class => "btn btn-primary"%>
<br>
