<p id="notice"><%= notice %></p>

<h1>Current state</h1>

<table class="table table-bordered">
  <thead>
    <tr>
    <th>Devise</th>
      <th>Property</th>
      <th>State</th>
      
      <th>Update date</th>

    </tr>
  </thead>

  <tbody>
    <% @makes.each do |make| %>
      <tr>
        <td><%= make.gear_id %></td>
        <td><%= make.property %></td>
        <td><%= make.state %></td>
        <td><%= make.update_date %></td>
        <td><%= link_to 'Show', make %></td>
        <td><%= link_to 'Edit', edit_make_path(make) %></td>
        <td><%= link_to 'Destroy', make, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<br>
<%= link_to 'publish', grep_path %>
<br>
<%=  @message  %>