<%= form_for(@spectating) do |f| %>
  <% if @spectating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spectating.errors.count, "error") %> prohibited this spectating from being saved:</h2>

      <ul>
      <% @spectating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :latitude %><br>
      <div class="field">
    <%= f.text_field :latitude %>
  </div>

    <%= f.label :longitude %><br>
      <div class="field">
    <%= f.text_field :longitude %>
  </div>

    <%= f.label :address %><br>
      <div class="field">
    <%= f.text_field :address %>
  </div>

    <%= f.label :title %><br>
      <div class="field">
    <%= f.text_field :title %>
  </div>

    <%= f.label :description %><br>
      <div class="field">
    <%= f.text_area :description %>
  </div>

    <%= f.label :content %><br>
      <div class="field">
    <%= f.text_field :content %>
  </div>

    <%= f.label :date %><br>
      <div class="field">
    <%= f.datetime_select :date %>
  </div>
     <div class="field" style="margin-left:43%; ">
    <%= f.file_field :image %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
