<p id="notice"><%= notice %></p>

<h1>States and updates</h1>

<table class="table">
  <thead>
    <tr>
      <th>Property</th>
      <th>Current state</th>
      <th>Set parameter</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.property %></td>
        <td><%= state.state %></td>
        <td><%= state.set %></td>
        <td><%= state.gear %></td>
        <td><%= link_to 'Show', state ,:class => "btn btn-default"%></td>
        <td><%= link_to 'Edit', edit_state_path(state) , :class => "btn btn-default"%></td>
        <td><%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_state_path , :class => "btn btn-default"%>


