<p id="notice"><%= notice %></p>

<h1>States and updates</h1>



<% @int = Interface.last
if @int.state==1 %>
  
 

    <% @states.each do |state| %>
      <ul class="list">
        <li >Property  <div class="c"><%= state.property %></div></li>
        <li >Current state  <div class="c"><%= state.state %></div ></li>
        <li >Set parameter  <div class="c"><%= state.set %></div ></li>
        <li >Device  <div class="c"><%= state.gear %></div ></li>
        <li >  Makes:  <br>
        <%= link_to 'Show', state ,:class => "btn btn-info"%>
        <%= link_to 'Edit', edit_state_path(state) ,:class => "btn btn-warning"%>
        <%= link_to 'Delete', state, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger"%>
        </li>
      </ul>
  <% end %>
  <%= link_to 'New Property', new_state_path , :class => "btn btn-default"%>
<% end %>


















<% if @int.state==0%>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Property</th>
      <th>Current state</th>
      <th>Set parameter</th>
      <th>Device</th>
      <th>Show</th>
      <th>Set parameter</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.property %></td>
        <td><%= state.state %></td>
        <td><%= state.set %></td>
        <td><%= state.gear %></td>
        <td><%= link_to 'Show', state ,:class => "btn btn-info"%></td>
        <td><%= link_to 'Set parameter', edit_state_path(state) , :class => "btn btn-warning"%></td>
        <td><%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Property', new_state_path , :class => "btn btn-success"%>
<% end %>
<br>




