<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @state.property %>
</p>

<p>
  <strong>State:</strong>
  <%= @state.state %>
</p>

<p>
  <strong>Set:</strong>
  <%= @state.set %>
</p>

<p>
  <strong>User:</strong>
  <%= @state.user_id %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
