
<%= form_for(@usinfo) do |f| %>
  <% if @usinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usinfo.errors.count, "error") %> prohibited this usinfo from being saved:</h2>

      <ul>
      <% @usinfo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="content">
  
    <%= f.label :username %><br>
    <div class="field">
    <%= f.text_field :username %>
  </div>
  
    <%= f.label :birthday %><br>
    <div class="field">
    <%= f.date_select :birthday %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
