<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<h1>Friends</h1>

<table class="table table-bordered">
=======
<h1>Listing Usinfos</h1>

<table>
>>>>>>> b3382de3a60779d8d2f3347773338cda0742e757
  <thead>
    <tr>
      <th>Username</th>
      <th>Birthday</th>
<<<<<<< HEAD

      
      <th>Email</th>
      <th colspan="3">Actions</th>
=======
      <th>User</th>
      <th colspan="3"></th>
>>>>>>> b3382de3a60779d8d2f3347773338cda0742e757
    </tr>
  </thead>

  <tbody>
<<<<<<< HEAD
    <% @usinfos.each do |info| %>
      <tr>
        <td><%= info.username %></td>
        <td><%= info.birthday %></td>

        
        <td><%= info.user.email %></td>
        <td colspan="3"><%= link_to 'Show', info ,:class => "btn btn-success" %>
        <% if user_signed_in? %>
        <% if current_user.email==info.user.email %>
        <% @currentus=info %>
        <%= link_to 'Edit', edit_usinfo_path(info),:class => "btn btn-warning" %>
       <%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger"%></td>
        <% end %>
        
  <% end %>
=======
    <% @usinfos.each do |usinfo| %>
      <tr>
        <td><%= usinfo.username %></td>
        <td><%= usinfo.birthday %></td>
        <td><%= usinfo.user_id %></td>
        <td><%= link_to 'Show', usinfo %></td>
        <td><%= link_to 'Edit', edit_usinfo_path(usinfo) %></td>
        <td><%= link_to 'Destroy', usinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> b3382de3a60779d8d2f3347773338cda0742e757
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<<<<<<< HEAD
        
=======

<%= link_to 'New Usinfo', new_usinfo_path %>
>>>>>>> b3382de3a60779d8d2f3347773338cda0742e757
