<p id="notice"><%= notice %></p>



<% @int = Interface.last %>
<% if @int.state==1%>

<h1>Friends</h1>


   <% @usinfos.each do |info| %>
   <ul id="list">
      <li>Username: <div class="c"><%= info.username %></div></li>
      <li>Birthday: <div class="c"><%= info.birthday %></div></li>
      <li>Email: <div class="c"><%= info.user.email %></div></li>
      <li >
      Actions: <br> <%= link_to 'Show', info ,:class => "btn btn-success" %>
      <% if user_signed_in? %>
        <% if current_user.email==info.user.email %>
        <% @currentus=info %>
        <%= link_to 'Edit', edit_usinfo_path(info),:class => "btn btn-warning" %>
       <%= link_to 'Delete', info, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger"%>
          <% end %>
    <% end %>
       </li>
     
      
  </ul>
 <% end %>

 <% end %>
<br>

        

<% if @int.state==0%>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>Show</th>
      <th>Set parameter</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <%  @usinfos.each do |info| %>
      <tr>
        <td><%= info.username %></td>
        <td><%= info.birthday %></td>
        <td><%= info.user.email %></td>
        <td><%= link_to 'Show', info ,:class => "btn btn-info"%></td>
        <td><%= link_to 'Set parameter', edit_usinfo_path(info) , :class => "btn btn-warning"%></td>
        <td><%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
