<%= form_for(@gear) do |f| %>
  <% if @gear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gear.errors.count, "error") %> prohibited this gear from being saved:</h2>

      <ul>
      <% @gear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="content">

    <%= f.label :title %><br>
      <div class="field">
    <%= f.text_field :title %>
  </div>

    <%= f.label :definitionkey %><br>
      <div class="field">
    <%= f.text_field :definitionkey %>
  </div>
  
    <%= f.label :address %><br>
      <div class="field">
    <%= f.text_field :address %>
  </div>
  
    <%= f.label :description %><br>
    <div class="field">
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
