<p id="notice"><%= notice %></p>

<h1>Listing Gears</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Definitionkey</th>
      <th>Owner</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @gears.each do |gear| %>
      <tr>
        <td><%= gear.title %></td>
        <td><%= gear.definitionkey %></td>
        <td><%= gear.usinfo.user.email %></td>
        <td><%= gear.latitude %></td>
        <td><%= gear.longitude %></td>
        <td><%= gear.address %></td>
        <td><%= gear.description %>
        <td><%= link_to 'Show', gear ,:class => "btn btn-info"%>
        <%= link_to 'Edit', edit_gear_path(gear) ,:class => "btn btn-warning"%>
        <%= link_to 'Destroy', gear, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Connect new devise', new_gear_path ,:class => "btn btn-success" %>
