<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>












<!DOCTYPE html>

<head>
  <title>My profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>



<nav class="navbar navbar-default">


  <div class="container-fluid">
  

    <ul class="nav navbar-nav navbar-left">
      <li> <%= image_tag("logo.png", size: "70x50")  %></li>
    </ul>

    <% if user_signed_in? %>
     <ul class="nav navbar-nav navbar-left">
           <li><%=link_to "My Profile" , profile_path%></li>
           <li><%=link_to "Friends" , usinfos_path%></li>
           <li><%=link_to "Profiles" , usinfos_path%></li>
           <li><%=link_to "Devises" , gears_path%></li>
           <li><%=link_to "Actions" , makes_path%></li>
      </ul>

       <ul class="nav navbar-nav navbar-right" >
          <li><a id="user"><%= current_user.email %></a></li>
          <li><%= link_to 'Sign_out' , destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Edit_user_data' , edit_user_registration_path%></li>
       </ul>
      <% else %>
                <ul class="nav navbar-nav navbar-right" >
                     <li><%= link_to 'Sign_up' , new_user_registration_path  %></li>
                     <li><%= link_to 'Sign_in' , new_user_session_path  %> </li>

                </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
 
</nav>












	<body>

    <div id="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <% if user_signed_in? || request.url=="https://mysmarthomeapp.herokuapp.com/users/sign_in" || request.url=="https://mysmarthomeapp.herokuapp.com/users/sign_up"|| request.url=="http://localhost:3000/users/sign_up"|| request.url=="http://localhost:3000/users/sign_in"%>
                        <div class="page" >
                           <%= yield %>
                        </div>
                    <% else %>
                        <div class="page">
                            <h2>Welcome , Dear!</h2>
                            <h3>Please , login or sign up :)</h3>
                         </div>
                    <% end %>

                 </div>
  
             </div>

            </div>  

        
    </div>





	</body>